openapi: 3.0.3
info:
  title: GlobalReach API
  description: Enterprise Email Marketing Platform API
  version: 2.0.0
  contact:
    email: support@globalreach.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.globalreach.com/api/v1
    description: Production server
  - url: https://staging.api.globalreach.com/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Accounts
    description: Email account management
  - name: Campaigns
    description: Campaign management
  - name: Emails
    description: Email operations
  - name: Clients
    description: Client/contact management
  - name: Analytics
    description: Email analytics
  - name: Teams
    description: Team collaboration
  - name: Webhooks
    description: Webhook integration
  - name: Templates
    description: Email template management
  - name: Search
    description: Advanced search
  - name: Export
    description: Data export
  - name: Mobile
    description: Mobile app integration
  - name: Maintenance
    description: Maintenance & support

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: AUTHENTICATION_FAILED
        message:
          type: string
          example: Invalid credentials

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true

    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EmailAccount:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        email:
          type: string
        platform:
          type: string
          enum: [gmail, outlook, sendgrid, custom]
        status:
          type: string
          enum: [active, inactive, verified]
        createdAt:
          type: string
          format: date-time

    Campaign:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [marketing, transactional, newsletter]
        status:
          type: string
          enum: [draft, active, completed, paused]
        emailCount:
          type: integer
        createdAt:
          type: string
          format: date-time

    Email:
      type: object
      properties:
        id:
          type: integer
        campaignId:
          type: integer
        to_address:
          type: string
        subject:
          type: string
        body:
          type: string
        status:
          type: string
          enum: [pending, sent, delivered, opened, clicked, bounced, converted]
        opened:
          type: boolean
        clicked:
          type: boolean
        converted:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Client:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time

    Template:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        name:
          type: string
        subject:
          type: string
        body:
          type: string
        description:
          type: string
        isDefault:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        url:
          type: string
        events:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Team:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    TeamMember:
      type: object
      properties:
        id:
          type: integer
        teamId:
          type: integer
        userId:
          type: integer
        role:
          type: string
          enum: [owner, admin, member]
        joinedAt:
          type: string
          format: date-time

    ErrorLog:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        errorType:
          type: string
        errorMessage:
          type: string
        stackTrace:
          type: string
        requestUrl:
          type: string
        statusCode:
          type: integer
        createdAt:
          type: string
          format: date-time

    Feedback:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        type:
          type: string
          enum: [bug, feature, improvement, question, other]
        title:
          type: string
        message:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        createdAt:
          type: string
          format: date-time

    SystemHealth:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        uptime:
          type: object
          properties:
            seconds:
              type: integer
            minutes:
              type: integer
            hours:
              type: integer
            days:
              type: integer
        memory:
          type: object
          properties:
            rss:
              type: string
            heapUsed:
              type: string
            heapTotal:
              type: string
        checks:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              status:
                type: string
                enum: [healthy, warning, unhealthy]
              message:
                type: string
        overallStatus:
          type: string
          enum: [healthy, degraded, unhealthy]

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
                      user:
                        $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/register:
    post:
      tags: [Auth]
      summary: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string

  /accounts:
    get:
      tags: [Accounts]
      summary: Get user email accounts
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailAccount'
    post:
      tags: [Accounts]
      summary: Create email account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                platform:
                  type: string
                smtpHost:
                  type: string
                smtpPort:
                  type: integer
                smtpUser:
                  type: string
                smtpPass:
                  type: string
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/EmailAccount'

  /accounts/{id}:
    get:
      tags: [Accounts]
      summary: Get account by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/EmailAccount'
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags: [Accounts]
      summary: Update account
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                platform:
                  type: string
      responses:
        '200':
          description: Account updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags: [Accounts]
      summary: Delete account
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /campaigns:
    get:
      tags: [Campaigns]
      summary: Get user campaigns
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Campaign'
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                          limit:
                            type: integer
                          total:
                            type: integer
                          pages:
                            type: integer
    post:
      tags: [Campaigns]
      summary: Create campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Campaign'

  /campaigns/{id}:
    get:
      tags: [Campaigns]
      summary: Get campaign by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Campaign'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags: [Campaigns]
      summary: Update campaign
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags: [Campaigns]
      summary: Delete campaign
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Campaign deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /emails:
    get:
      tags: [Emails]
      summary: Get user emails
      parameters:
        - name: campaignId
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of emails
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Email'
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                          limit:
                            type: integer
                          total:
                            type: integer
                          pages:
                            type: integer
    post:
      tags: [Emails]
      summary: Send email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignId:
                  type: integer
                to:
                  type: string
                subject:
                  type: string
                body:
                  type: string
                templateId:
                  type: integer
                data:
                  type: object
      responses:
        '201':
          description: Email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Email'

  /emails/{id}:
    get:
      tags: [Emails]
      summary: Get email by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Email'
        '404':
          description: Email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /clients:
    get:
      tags: [Clients]
      summary: Get user clients
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Client'
                      pagination:
                        type: object
                        properties:
                          page:
                            type: integer
                          limit:
                            type: integer
                          total:
                            type: integer
                          pages:
                            type: integer
    post:
      tags: [Clients]
      summary: Create client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                company:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Client created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Client'

  /templates:
    get:
      tags: [Templates]
      summary: Get user templates
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
    post:
      tags: [Templates]
      summary: Create template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                subject:
                  type: string
                body:
                  type: string
                description:
                  type: string
                isDefault:
                  type: boolean
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Template'

  /templates/{id}:
    get:
      tags: [Templates]
      summary: Get template by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Template'
        '404':
          description: Template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags: [Templates]
      summary: Update template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                subject:
                  type: string
                body:
                  type: string
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags: [Templates]
      summary: Delete template
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /search/emails:
    get:
      tags: [Search]
      summary: Search emails
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: campaignId
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/Email'
                      total:
                        type: integer
                      page:
                        type: integer
                      pageSize:
                        type: integer

  /search/campaigns:
    get:
      tags: [Search]
      summary: Search campaigns
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/Campaign'
                      total:
                        type: integer
                      page:
                        type: integer
                      pageSize:
                        type: integer

  /search/global:
    get:
      tags: [Search]
      summary: Global search
      parameters:
        - name: q
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Global search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      emails:
                        type: array
                        items:
                          $ref: '#/components/schemas/Email'
                      campaigns:
                        type: array
                        items:
                          $ref: '#/components/schemas/Campaign'
                      clients:
                        type: array
                        items:
                          $ref: '#/components/schemas/Client'
                      accounts:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailAccount'
                      totalResults:
                        type: integer

  /export/emails/csv:
    get:
      tags: [Export]
      summary: Export emails as CSV
      parameters:
        - name: campaignId
          in: query
          schema:
            type: integer
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: CSV file
          content:
            text/csv:
              schema:
                type: string

  /export/emails/excel:
    get:
      tags: [Export]
      summary: Export emails as Excel
      parameters:
        - name: campaignId
          in: query
          schema:
            type: integer
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Excel file
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string

  /export/analytics/pdf:
    get:
      tags: [Export]
      summary: Export analytics as PDF
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string

  /mobile/dashboard:
    get:
      tags: [Mobile]
      summary: Mobile dashboard overview
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      overview:
                        type: object
                        properties:
                          campaignCount:
                            type: integer
                          emailCount:
                            type: integer
                          todayEmails:
                            type: integer
                          openRate:
                            type: number
                      recentCampaigns:
                        type: array
                        items:
                          $ref: '#/components/schemas/Campaign'

  /mobile/quick-stats:
    get:
      tags: [Mobile]
      summary: Quick statistics
      responses:
        '200':
          description: Quick stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      totalEmails:
                        type: integer
                      deliveredEmails:
                        type: integer
                      openedEmails:
                        type: integer
                      clickedEmails:
                        type: integer
                      campaignCount:
                        type: integer
                      deliveryRate:
                        type: string
                      openRate:
                        type: string
                      clickRate:
                        type: string

  /maintenance/health:
    get:
      tags: [Maintenance]
      summary: System health check
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SystemHealth'

  /maintenance/feedback:
    post:
      tags: [Maintenance]
      summary: Submit feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                title:
                  type: string
                message:
                  type: string
                rating:
                  type: integer
      responses:
        '201':
          description: Feedback submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Feedback'

  /maintenance/errors/stats:
    get:
      tags: [Maintenance]
      summary: Error statistics
      responses:
        '200':
          description: Error stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      totalErrors:
                        type: integer
                      last24Hours:
                        type: integer
                      last7Days:
                        type: integer
                      errorTypeStats:
                        type: array
                        items:
                          type: object
                          properties:
                            errorType:
                              type: string
                            count:
                              type: integer
                      statusCodeStats:
                        type: array
                        items:
                          type: object
                          properties:
                            statusCode:
                              type: integer
                            count:
                              type: integer
                      recentErrors:
                        type: array
                        items:
                          $ref: '#/components/schemas/ErrorLog'